<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
</ngx-spinner>
<div id="body" xmlns="http://www.w3.org/1999/html" *ngIf="isMobile" >
<div class="jk">
  <div class="welcome" >
    <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.4;">
      <div  class="text">
        <span>        <span class="great-vibes-regular">Э</span>льнара
       <br>
        <span style="font-size: 40px">қыз ұзату</span></span>











      </div>
    </div>
    <app-music-player style="margin-left: 250px;margin-bottom: 70px"></app-music-player>
    <div class="ico">
      <div>
        <img src="assets/img/11.png" height="40" width="50" >
      </div>

    </div>


  </div>
  </div>



  <div class="jk">
  <div id="content1">
    <div class="item1">
    <span style="font-family:'vAcadei'!important;font-size: 20px;text-align: center;color: maroon;padding: 10px" >
<!--       <img src="img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>-->
                ҚҰРМЕТТІ ҚОНАҚТАР<br>
СІЗДЕРДІ АЯУЛЫ  <br> <br>
ЭЛЬНАРА
       <br>
          <br> ҚЫЗЫМЫЗДЫҢ ҰЗАТУ ТОЙЫНА АРНАЛҒАН <br>САЛТАНАТТЫ АҚ ДАСТАРХАНЫМЫЗДЫҢ ҚАДІРЛІ<br> ҚОНАҒЫ БОЛУҒА ШАҚЫРАМЫЗ!

    </span>

    </div>

</div>
  </div>
  <div class="jk">
  <div id="content">
        <span style="font-family:'vAcadei'!important;font-size: 23px;text-align: center;color: maroon;margin-top: -230px;padding: 10px" >
<!--       <img src="img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>-->

     Той салтанаты:<br>
             <div class="date-container">
        <div class="side-text">
            <hr>
            <span>сенбі</span>
            <hr>
        </div>
        <div class="center-text">
            <span class="month"><b>
              маусым
            </b></span>
            <span class="day">20</span>
            <span class="year"><b>2026</b></span>
        </div>
        <div class="side-text">
            <hr>
            <span>17:00</span>
            <hr>
        </div>
    </div>


    <div class="calendar">
        <h2>Маусым <span>2026</span></h2>
      <table>
        <thead>
            <tr>
                <th>Дс</th>
                <th>Сс</th>
                <th>Ср</th>
                <th>Бс</th>
                <th>Жм</th>
                <th>Сб</th>
                <th>Жс</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>


                <td>7</td>
            </tr>
            <tr>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>

                <td>14</td>
            </tr>
            <tr>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td  style="background: url('assets/img/heart1.gif') center;background-size: contain">20</td>

                <td>21</td>
            </tr>
            <tr>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>

                <td>28</td>
            </tr>
            <tr>
                <td>29</td>
                <td>30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>

    </span>

  </div>
  </div>
<div class="jk">

  <div class="timeline-card">
    <div class="title">Тойдың бағдарламасы:</div>

    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-image">
          <img src="assets/img/img1.jpg" alt="Сбор гостей" />
        </div>
        <div class="timeline-line">
          <span class="dot"></span>
        </div>
        <div class="timeline-content">
          <div class="time">17:00</div>
          <div class="text34">Қонақтардың жиналуы</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-image">
          <img src="assets/img/8640.jpg" alt="Фотосессия" />
        </div>
        <div class="timeline-line">
          <span class="dot"></span>
        </div>
        <div class="timeline-content">
          <div class="time">17:30</div>
          <div class="text34">Фотосессия</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-image">
          <img src="assets/img/8645.jpg" alt="Открытие торжества" />
        </div>
        <div class="timeline-line">
          <span class="dot"></span>
        </div>
        <div class="timeline-content">
          <div class="time">18:00</div>
          <div class="text34">Той салтанатының ашылуы</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-image">
          <img src="assets/img/45773.JPG" alt="Обряд" />
        </div>
        <div class="timeline-line">
          <span class="dot"></span>
        </div>
        <div class="timeline-content">
          <div class="time">00:00</div>
          <div class="text34">Ұзату рәсімі</div>
        </div>
      </div>
    </div>


</div>

</div>
<div class="jk">

    <div id="content">
              <span style="font-family:'vAcadei'!important;font-size: 23px;text-align: center;color: maroon;padding: 10px;margin-top: -100px;" >

                Мекен-жайымыз:<br><br><br>
               "Шаттық" мейрамханасы,<br>
                Алматы қаласы,  Төле би 300/1<br><br><br>
               <a href="https://2gis.kz/almaty/geo/70000001027876143/76.849904,43.243283" title="Батырманы басыңыз"> <img src="assets/img/img_3.png" height="60" style="border-radius: 15px"/><br><br><br>
               </a>
                Той иелері:<br>
                Анасы Асем, <br> Джоламбетовтар әулеті

                </span>

    </div>


</div>



      <app-rsvp></app-rsvp>



  <div class="jk" >
  <div id="content">
      <span style="font-family:'vAcadei'!important;font-size: 20px;text-align: center;color: maroon;padding: 10px;" >
<!--       <img src="img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>-->
          ҚҰРМЕТТІ<BR>
          КІШКЕНТАЙ ҚОНАҚТАР,<BR>
          СІЗДЕРДІ ҚАТТЫ  ЖАҚСЫ КӨРЕМІЗ.<BR>АЛАЙДА,БҰЛ МЕРЕКЕ <BR>ТЕК ЕРЕСЕКТЕР ҮШІН БОЛАДЫ.<BR>
          АТА-АНАЛАР<BR>
         БӨПЕЛЕРІҢІЗДІ СЕНІМДІ АДАМҒА ҚАЛДЫРЫП, ӨЗДЕРІҢІЗ КЕЛІҢІЗДЕР!


    </span>
  </div>



    </div>
</div>
<div  *ngIf="!isMobile">
    <div class="welcome" >
      САЙТ МОБИЛЬДІ ҚОСЫМШАДА АШЫЛАДЫ!
    </div>
</div>
