
<div class="rsvp-form">
  <h2>Тойға қатысуыңыз</h2>
  <form [formGroup]="rsvpForm" (ngSubmit)="onSubmit()" style="font-size: 20px;">
    <div >
      <label for="name" class="in" style="font-size:23px">Аты-жөніңіз(ФИО) жұбыңызбен келетін болсаңыз, есімдеріңізді бірге жазуыңызды өтінеміз:
      </label>
      <input id="name" formControlName="name" class="custom-input" type="text" required>
    </div>

    <div style="display: flex;flex-direction: column;">
    <div>
      <input type="radio" class="in" value="Келемін"  formControlName="attend"> <label>Келемін</label>

    </div>

    <div>
      <input type="radio"class="in" value="Жұбыммен келемін"  formControlName="attend"><label>Жұбыммен келемін</label>
    </div>

    <div>
      <input type="radio"class="in" value="Өкінішке орай,келе алмаймын"  formControlName="attend"><label>Өкінішке орай,келе алмаймын</label>
    </div>


    </div>

    <button type="submit" [disabled]="rsvpForm.invalid">Жіберу</button>
  </form>
</div>
